.contenedorBotonHome {
    /* margin: auto; */
    display: flex;
    justify-content: center;
}
.botonHome {
    font-size: 1rem;
    padding: 10px;
    font-family: 'Arima Madurai', cursive;
    color: #DED8BE;
    border: 1px solid #DED8BE;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-align: center;
}
.botonHome:hover {
    background-color: #DED8BE;
    color: #14232A;
}
.botonHomeLight{
    font-size: 1rem;
    padding: 10px;
    font-family: 'Arima Madurai', cursive;
    color: #14232A;
    border: 1px solid #14232A;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-align: center;
}
.botonHomeLight:hover {
    background-color: #14232A;
    color: #DED8BE;
}