#quienesSomosContainer {
    max-width: 1136px;
    margin: auto;
    padding: 0 24px;
}

.tituloQuienesSomos {
    font-family: 'Arima Madurai', cursive;
    color: #DED8BE;
    font-size: 2.25rem;
    text-align: center;
}

.contenedorSobreNuestroEspacio {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-top: 50px;
}

.contenedorSobreNosotros {
    display: flex;
    align-items: center;
    gap: 5%;
}

.contenedorImagenSobreNuestroEspacio {
    width: 552px;
    min-width: 552px;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorImagenSobreNosotros {
    width: 552px;
    min-width: 552px;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.textoQuienesSomos {
    text-align: left;
}

.textoQuienesSomos h3 {
    font-family: 'Arima Madurai', cursive;
    color: #DED8BE;
    font-size: 2.25rem;
    text-align: left;
}

.textoQuienesSomos p {
    font-family: 'Lato', sans-serif;
    color: #DED8BE;
    letter-spacing: 0.5px;
    line-height: 24px;
}

@media (min-width:897px) and (max-width:1024px) {
    .contenedorImagenSobreNuestroEspacio {
        width: 470px;
        min-width: 470px;
    }

    .contenedorImagenSobreNuestroEspacio img {
        width: 470px;
        min-width: 470px;
    }

    .contenedorImagenSobreNosotros {
        width: 460px;
        min-width: 460px;
    }

    .contenedorImagenSobreNosotros img {
        width: 460px;
        min-width: 460px;
    }
}

@media (min-width:0) and (max-width:896px) {
    .contenedorImagenSobreNuestroEspacio {
        width: 300px;
        min-width: 300px;
        height: 396px;
    }

    .contenedorImagenSobreNuestroEspacio img {
        width: 300px;
    }

    .contenedorImagenSobreNosotros {
        width: 300px;
        min-width: 300px;
        height: 164px;
    }

    .contenedorSobreNuestroEspacio {
        flex-direction: column;
    }

    .contenedorSobreNosotros {
        flex-direction: column-reverse;
    }
}

@media (min-width:0) and (max-width:480px) {
    #quienesSomosContainer {
        width: 75%;
    }
}