.botonFlotanteContainer {
    position: fixed;
    z-index: 40;
    bottom: 16px;
    right: 112px;
}

@media (min-width: 745px) and (max-width: 1184px) {
    .botonFlotanteContainer {
        bottom: 16px;
        right: 24px;
    }
}
@media (max-width: 744px) {
    .botonFlotanteContainer {
        bottom: 16px;
        right: 16px;
    }
}