.encabezadoContenedor {
    display: flex;
    justify-content: space-around;
    background-color: #DED8BE;
    height: 32px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 20;
}
.ubicacionContenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
}
.ubicacionContenedor img {
    width: 16px;
    height: 16px;
    margin: auto 10px;
}
.parrafoEncabezado {
    font-family: 'Lato', sans-serif;
    font-size: 0.75rem;
}
.tituloEncabezado {
    font-family: 'Arima Madurai', cursive;
    font-size: 0.875rem;
}

@media (min-width:0) and (max-width:480px) {
    .displayNoneEncabezadoMovile {
        display: none;
    }
}