#serviciosContainer {
    max-width: 1440px;
    margin: auto;
}
.contenedorServicios {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.tituloServicios {
    font-family: 'Arima Madurai', cursive;
    color: #DED8BE;
    font-size: 2.25rem;
    text-align: center;
}

@media (max-width: 896px) {
    .contenedorServicios {
        flex-direction: column;
        align-items: center;
    }
}