#homeContainer {
    width: 1136px;
    margin: auto;
}

.tituloHome {
    font-family: 'Arima Madurai', cursive;
    color: #DED8BE;
    text-align: center;
    font-size: 2.813rem;
}

.parrafoHome {
    font-family: 'Lato', sans-serif;
    color: #DED8BE;
    text-align: center;
    font-size: 1rem;
}

.contenedorImagenesHome {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 80px;
}

.imagen1HomeContainer {
    width: 243px;
    height: 379px;
    overflow: hidden;
    position: relative;
    top: 40px;
}

.imagen2HomeContainer {
    width: 243px;
    height: 379px;
    overflow: hidden;
    position: relative;
}

@media (min-width:0) and (max-width:1184px) {
    .displayNoneHomeMovile {
        display: none;
    }
    #homeContainer {
        width: 90%;
    }
}
