.footerContainer {
    width: 75%;
    margin: 5% auto 1% auto;
}

.footer {
    display: flex;
    justify-content: space-around;
}

.logoFooterContainer img {
    height: 337px;
}

.tituloFooter {
    font-family: 'Arima Madurai', cursive;
    color: #DED8BE;
    font-size: 1rem;
}

.linksFooter {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: #DED8BE;
    font-size: 1rem;
}

.separacionFooter {
    height: 2px;
    background-color: #DED8BE;
    margin: auto;
    border-radius: 50%;
    margin: 1% auto;
}

.finalFooter {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}

.finalFooter h3 {
    font-family: 'Lato', sans-serif;
    color: #DED8BE;
    font-size: 0.875rem;
}

.redesSocialesFooter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.subtituloFooter {
    font-family: 'Lato', sans-serif;
    color: #DED8BE;
    font-size: 1rem;
}

.promocionesContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputFooterContainer {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3%;
}

.inputPromocionesFooter {
    width: 448px;
    height: 72px;
    background: #F9F9FF;
    border-radius: 50px;
    font-size: 1.2rem;
    padding: 0 25px;
}

.botonSuscribirmeFooter {
    background-color: #800000;
    color: #DED8BE;
    font-family: 'Arima Madurai', cursive;
    padding: 3% 5%;
    border-radius: 40px;
    cursor: pointer;
}

@media (min-width: 840px) and (max-width: 1056px) {
    .inputPromocionesFooter {
        width: 350px;
        margin-left: 10px;
        font-size: 0.875rem;
    }
}

@media (min-width: 0) and (max-width: 839px) {
    .footer {
        flex-direction: column;
        align-items: left;
    }

    .logoFooterContainer {
        display: none;
    }
.logoFooterContainerMovile {
    display: flex;
    justify-content: center;
}
    .logoFooterContainerMovile img {
        height: 337px;
    }
    .promocionesContainer {
        flex-direction: column;
        align-items: baseline;

    }
    .inputFooterContainer {
        flex-direction: column;
        margin: auto;
        width: 90%;
    }
    .inputPromocionesFooter {
        width: 100%;
    }
}