.tituloContacto {
    font-family: 'Arima Madurai', cursive;
    color: #DED8BE;
    font-size: 2.25rem;
    text-align: center;
}
.rectangulo {
    height: 544px;
    width: 1440px;
    left: 100px;
    top: 160px;
    border-radius: 0px;
    padding: 64px 156px 64px 156px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 64px 156px;
    gap: 216px;
    
    width: 1440px;
    height: 544px;
    
    /* Crema
    
    Tipografía
    */
    background: #DED8BE;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;    
}

.titulo{
    height: 30px;
    width: 516px;
    left: 500px;
    top: 10px;
    border-radius: nullpx;
    

/* H3 - titulo */

font-family: 'Arima Madurai';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 30px;
/* identical to box height, or 125% */

letter-spacing: 0.015em;

/* Azul */

color: #14232A;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
text-align:right;
}

.horario{
    height: 24px;
    width: 482px;
    left: 44px;
    top: 10px;
    border-radius: nullpx;
    

/* B1b - cuerpo */

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.5px;

/* Azul */

color: #14232A;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 1;
}

.Whatsapp{
    width: 482px;
height: 24px;

/* B1b - cuerpo */

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.5px;

/* Azul */

color: #14232A;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 1;
}

.Email{
    height: 24px;
width: 482px;
left: 44px;
top: 10px;
border-radius: nullpx;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.5px;

/* Azul */

color: #14232A;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 1;
}

.asistencia{
    width: 516px;
height: 84px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* or 150% */

letter-spacing: 0.5px;

/* Azul */

color: #14232A;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}