.tituloContacto {
    font-family: 'Arima Madurai', cursive;
    color: #DED8BE;
    font-size: 2.25rem;
    text-align: center;
}

.rectanguloContacto {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #DED8BE;
    padding: 50px 0;
}

.contenidoDeContacto {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.tituloUbicacion {
    font-family: 'Arima Madurai';
    font-size: 1.5rem;
    color: #14232A;
}

.logoYTextoflex {
    display: flex;
    align-items: center;
    gap: 8px;
}

.horarioContacto {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: #14232A;
}

.WhatsappContacto {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: #14232A;
}

.EmailContacto {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    line-height: 24px;
    color: #14232A;
}

.asistenciaContacto {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    line-height: 24px;
    color: #14232A;
    font-weight: 700;
}

.linkEspacioKlem {
    text-decoration: none;
    color: #14232A;
    text-decoration: underline;
}

@media (min-width:0) and (max-width:1344px) {
    .contenidoDeContacto {
        flex-direction: column;
        gap: 0;
    }
    .imagenContacto {
        display: flex;
        justify-content: center;
    }
    .imagenContacto img {
        width: 95%;
    }
}
