.tituloParaRegalar {
    font-family: 'Arima Madurai', cursive;
    color: #DED8BE;
    font-size: 2.25rem;
    text-align: center;
}
.rectanguloParaRegalar {
    width: 100%;
    background: #DED8BE;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.textoRegalo {
    background: #DED8BE;
    margin: 2rem auto 2rem 12.5%;
    text-align: center;
    width: 37.5%;
}

.textoRegalo p {
    font-size: 2.25rem;
    font-family: Arima Madurai;
    font-weight: 800;
    line-height: 3rem;
    letter-spacing: 0.025em;
    text-align: center;
    margin: 0;
}

.contenedorImagenesParaRegalar{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content:space-between;
    margin-right: 10%;
    height: 377px;
    overflow: hidden;
    padding-left: 5%;
}

@media (max-width: 1344px) {
    .textoRegalo p {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

@media (min-width: 1078px) and (max-width: 1200px) {
    .contenedorImagenesParaRegalar {
        margin-right: 10%;
    }
    .textoRegalo {
        margin-left: 10%;
        margin-right: 0;
    }
    .rectanguloParaRegalar {
        gap: 20px;
    }
}
@media (min-width: 0px) and (max-width: 1280px) {
    .rectanguloParaRegalar {
        flex-direction: column;
        align-items: center;
        margin: 0;
        gap: 0;
        padding: 50px 0;
    }
    .contenedorImagenesParaRegalar {
        flex-direction: column;
        height: 100%;
        width: 80%;
        margin: auto;
        overflow: auto;
    }
    .textoRegalo {
        margin: auto;
        width: 80%;
    }
    .textoRegalo p {
        font-size: 1.8rem;
        line-height: 2rem;
    }
}