#preguntasFrecuentesContainer {
    width: 75%;
    margin: auto;
}

.seccionPreguntas {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}
.logoMasPregunta {
    display: flex;
    align-items: center;
    gap: 15px;
}

.tituloPreguntas {
    font-family: 'Arima Madurai', cursive;
    color: #DED8BE;
    font-size: 2.25rem;
    text-align: center;
}

.texto {
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 24px;
letter-spacing: 0.5px;
color: #EDDAC7;
margin-left: 35px;
}

.tituloPregunta{ 
font-family: 'Arima Madurai';
font-style: normal;
font-weight: 800;
font-size: 1.5rem;
line-height: 30px;
letter-spacing: 0.015em;
text-align: justify;
color: #EDDAC7;
}

@media (min-width:0) and (max-width:839px)  {
    .seccionPreguntas {
        flex-direction: column;
    }
}