html {
  scroll-behavior: smooth;
}
body {
  background-color: #14232A;
}


.contenedorBordes {
  width: 100%;
  height: 100%;
  position: relative;
}

.bordeIzquierdo {
  background-image: url("./assets/bordes.png");
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 96px;
  background-repeat: repeat-y;
  z-index: 15;
}

.bordeDerecho {
  background-image: url("./assets/bordes.png");
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 96px;
  background-repeat: repeat-y;
  z-index: 15;
}

@media (min-width: 0) and (max-width: 768px) {
  .bordeIzquierdo {
      display: none;
  }
  .bordeDerecho {
    display: none;
  }
}








.anchor {
  display: block;
  position: relative;
  visibility: hidden;
  top: -130px;
}

@media (max-width: 573px) {
  .anchor {
    top: -80px;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
