.navBar {
    margin: auto;
    display: flex;
    gap: 30px;
    justify-content: space-around;
    background-color: #14232A;
    width: 75%;
    z-index: 14;
    padding: 0 12.5%;
    margin: 36px auto;
    position: sticky;
    top: 32px;
}

.navBarItem {
    text-align: center;
}

.navBarLink {
    font-family: 'Arima Madurai', cursive;
    color: #DED8BE;
    font-size: 1rem;
    position: relative;
    text-decoration: none;
}

.navBarLink:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 0.08rem;
    width: 100%;
    background-color: #DED8BE;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

.navBarLink:hover:after {
    transform-origin: left;
    transform: scaleX(1);
}

.logoEspacioKlem {
    margin-top: 36px;
    display: flex;
    justify-content: center;
}

.logoEspacioKlem img {
    width: 96px;
    height: 87px;
}

.logoEspacioKlemMovile {
    display: none;
}

.active:before {
    color: red;
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 0.08rem;
    width: 100%;
    background-color: #DED8BE;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

.active:after {
    transform-origin: left;
    transform: scaleX(1);
}

.navParaMovile {
    display: none;
}

@media (min-width:0) and (max-width:480px) {
    .logoEspacioKlem {
        display: none;
    }

    .logoEspacioKlemMovile {
        display: flex;
        justify-content: center;
    }

    .logoEspacioKlemMovile img {
        width: 320px;
        height: 281px;
    }

    .navBar {
        width: 100%;
    }
}

@media (max-width: 573px) {
    .navParaMovile {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #DED8BE;
        width: 100%;
        height: 48px;
        position: sticky;
        top: 0;
        z-index: 200000000000000000000000000000;
    }

    .navBarLink {
        color: #14232A;
    }

    .navBar {
        display: none;
    }

    /* Position and sizing of burger button */
    .bm-burger-button {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: 2%;
    }

    /* Color/shape of burger icon bars */
    .bm-burger-bars {
        background: #14232A;
    }

    /* Color/shape of burger icon bars on hover*/
    .bm-burger-bars-hover {
        background: #a90000;
    }

    /* Position and sizing of clickable cross button */
    .bm-cross-button {
        height: 24px;
        width: 24px;
    }

    /* Color/shape of close button cross */
    .bm-cross {
        background: black;
    }

    /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
    .bm-menu-wrap {
        position: fixed;
        height: fit-content!important;
        top: 48px;
        left: 0;
    }

    /* General sidebar styles */
    .bm-menu {
        background: #DED8BE;
        font-size: 1.15em;
    }

    /* Morph shape necessary with bubble or elastic */
    .bm-morph-shape {
        fill: #373a47;
    }

    /* Wrapper for item list */
    .bm-item-list {
        color: #b8b7ad;
        padding: 0.8em;
    }

    /* Individual item */
    .bm-item {
        display: inline-block;
        text-align: left;
    }

    /* Styling of overlay */
    .bm-overlay {
        background: rgba(0, 0, 0, 0.3);
        height: fit-content!important;
    }

    .tituloNavMovile {
        font-family: 'Arima Madurai', cursive;
        color: #14232A;
        text-align: center;
        font-size: 0.875rem;
    }
}